@import '../resources/scss/modules/navigation';
@import "../resources/scss/modules/table";
@import "../resources/scss/variables/reset";


@include responsiveTable("table", 600px, 10px);

table {
    td:nth-of-type(1):before:not(.weekBreak) {content: "Date"; }
    td:nth-of-type(2):before {content: "Lecture"; }
    td:nth-of-type(3):before {content: "Slide"; }
    td:nth-of-type(4):before {content: "Slide Notes"; }
    td:nth-of-type(5):before {content: "Assignments"; }
    
    .weekBreak {
        @media screen and (max-width: 600px) {
            background: $orange;
        }
        text-align: center;
        border: none !important;
    }
}