doctype html

html(lang="en")
    head
        include resources/pug/head.pug
        title="CS 161 Home Page"
        link(href="main.css", rel="stylesheet")
        script(type="text/javascript" src="index.js")

    body
        include resources/pug/navigation.pug
        +navigation("./", "home")
        
        div.labs
            h2 Lab Information