doctype html

html(lang="en")
    head
        include resources/pug/head.pug
        +head(".")
        title="CS 161 Home Page"
        link(href="./main.css", rel="stylesheet")
        script(type="text/javascript" src="TAHours.js")
        script(type="text/javascript" src="resources/js/autoMenuStick.js")

    body(style="zoom: 1;")
        include resources/pug/navigation.pug
        +navigation("./", "home")
        
        div.headline
            div.announcements
                h3 Important Announcements:
                p.
                    04/03 - First day of class!!!<br>
                    04/09 - Last day to Add a class w/o dept. approval<br>
                    04/09 - Last day to Drop a class for 100% refund<br>
                    05/01 - Week 5 Proficiency Practice: DEAR 119<br>
                    05/03 - Exam I<br>
                    
            div.contactInfo
                p.
                    Professor: Jennifer Parham-Mocello<br>
                    2101 Kelley Engineering Center<br>
                    #[a(href="mailto:parhammj@eecs.oregonstate.edu") parhammj@oregonstate.edu]<br>
                    (541) 737-8895<br>
                    Office Hours: MW 8:30-9:30am, WF 2-3pm, &amp; by appointment
        
        div.signUp
            h2 TA Information: Office/Grading Hours
            a(href='https://goo.gl/forms/OSSevt1EuisFQ4ab2') Please Sign-in for Office Hours
        div.TAHours