@import "resources/scss/modules/navigation";
@import "resources/scss/modules/table";
@import "resources/scss/variables/reset";


h3 {
    text-align: center;
}


$breakpoint-alpha: 600px;

.headline {
    display: flex;
    @media screen and (max-width: $breakpoint-alpha) {
        display: block;
        .contactInfo {
            display: block;
            padding: 20px 0;
        }
        .announcements {
            text-align: center;
        }
    }
    justify-content: space-around;
    padding-top: 5vh;
    .contactInfo {
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 12pt;
    }
    .announcements {
        font-family: sans-serif;
        font-size: 12pt;
        h3 {
            color: red;
            font-size: 16pt;
            padding: 0;
            margin: 0;
        }
    }
}

.signUp {
    text-align: center;
    margin: auto;
    margin-bottom: 3vh;
}

@include responsiveTable(".TAHours", $breakpoint-alpha);

.TAHours {
    td:nth-of-type(1):before {content: "Name"; }
    td:nth-of-type(2):before {content: "Email"; }
    td:nth-of-type(3):before {content: "Office Hours"; }
    td:nth-of-type(4):before {content: "Demo Hours"; }
}