//OSU Theme
$orange:     #C34500;
$darkBrown:  #615042;
$lightBrown: #9D601E;
$sand:       #F3D08E;
$darkGrey:   #373737;
$white:      #F5F2ED;
$blue:       #385E86;
$lightBlue:  #A7C4C9;
$green:      #4E7300;
$purple:     #561F4B;
$red:        #AF292E;

//Extensions
$lightGrey:  #767676;


//Rose of Sharon: #C34500
//Kabul:          #615042
//Desert:         #9D601E
//Manhattan:      #F3D08E
//Mine Shaft:     #373737
//Spring Wood:    #F5F2ED
//Chambray:       #385E86
//Opal:           #A7C4C9
//Verdun Green:   #4E7300
//Tawny Port:     #561F4B
//Tall Poppy:     #AF292E
