doctype html

html(lang="en")
    head
        include ../resources/pug/head.pug
        +head("..")
        title="CS 161 Calendar"
        link(href="calendar.css", rel="stylesheet")
        script(type="text/javascript", src="calendar.js")
        script(type="text/javascript" src="../resources/js/autoMenuStick.js")

    body
        include ../resources/pug/navigation.pug
        +navigation("../", "calendar")
        
        h2(style="text-align: center") Calendar
        p(style="text-align: center") All items are tenative and subject to change
        
        div.calendarContainer
        
    table
      tr
        th Date
        th Lecture
        th Slide
        th Slide Notes
        th Assigned Reading
        th Assignments
      
      tr
        td.weekBreak(colspan="6") Week #1
      
      tr
        th 04/03
        td Introduction, Syllabus
        td 
        td 
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec01.pdf")
      
      tr
        th 04/05
        td Review - Pointers, Arrays, and Structs
        td
            a(href="slide1.pdf") slide1
        td
            a(href="slide1-notes.pdf") slide1-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec01.pdf")
      
      tr
        th 04/07
        td Separation of Files/make
        td 
            a(href="slide2.pdf") slide2
        td 
            a(href="slide2-notes.pdf") slide2-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec01.pdf")
        td assignment #1 Design Due Sunday, 4/09 by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #2
      
      tr
        th 04/10
        td File Input/Output
        td
            a(href="slide3.pdf") slide3
        td
            a(href="slide3-notes.pdf") slide3-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec01.pdf")
      
      tr
        th 04/12
        td Begin Classes vs. Structs
        td
            a(href="slide4.pdf") slide4
        td
            a(href="slide4-notes.pdf") slide4-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec02.pdf")
      
      tr
        th 04/14
        td Constructors, const vs. static keywords, this pointer
        td
            a(href="slide5.pdf") slide5
        td
            a(href="slide5-notes.pdf") slide5-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec02.pdf")
        td assignment #1 Due Sunday, 4/16 by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #3
      
      tr
        th 04/17
        td Copy Constructor and Destructor
        td
            a(href="slide6.pdf") slide6
        td
            a(href="slide6-notes.pdf") slide6-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec02.pdf")
      
      tr
        th 04/19
        td Review Copy Constructor and Destructor 
        td
            a(href="slide7.pdf") slide7
        td
            a(href="slide7-notes.pdf") slide7-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec02.pdf")
      
      tr
        th 04/21
        td assignment #2 Questions/Copy Constructor
        td
            a(href="slide8.pdf") slide8
        td
            a(href="slide8-notes.pdf") slide8-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec03.pdf")
        td assignment #2 Design Due Sunday, 4/23 by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #4
      
      tr
        th 04/24
        td Review Big Three
        td
            a(href="slide9.pdf") slide9
        td
            a(href="slide9-notes.pdf") slide9-notes
        td 
      
      tr
        th 04/26
        td Finish Big Three
        td
            a(href="slide10.pdf") slide10
        td
            a(href="slide10-notes.pdf") slide10-notes
        td 
      
      tr
        th 04/28
        td Really Finish Big Three/Address Static Members
        td
            a(href="slide11.pdf") slide11
        td
            a(href="slide11-notes.pdf") slide11-notes
        td Review
        td assignment #2 Due Sunday, 4/30, by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #5
      
      tr
        th 05/01
        td Exam I Review/Address Static Members
            br
            a(href="162sp16test1.pdf") Exam - No Answers
            br
            a(href="162sp16test1-ans.pdf") Exam - Review Answers
        td
        td
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec03.pdf")
      
      tr
        th 05/03
        td Exam I
        td 
        td 
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec03.pdf")
      
      tr
        th 05/05
        td Exam I Results &amp; Begin Inheritance
        td
            a(href="162_exam1_1.pdf") Exam I Results
        td 
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec05.pdf")
        td assignment #3 Design Due Sunday, 5/07 by 11:59pm
	  
      tr
        td.weekBreak(colspan="6") Week #6
      
      tr
        th 05/08
        td What is inherited? Protected vs. Private
        td
            a(href="slide12.pdf") slide12
        td
            a(href="slide12-notes.pdf") slide12-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec05.pdf")
      
      tr
        th 05/10
        td Friends, Operator Overload, &amp; Polymorphism
        td
            a(href="slide13.pdf") slide13
        td
            a(href="slide13-notes.pdf") slide13-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
      
      tr
        th 05/12
        td Revisit Polymorphism
        td
            a(href="slide14.pdf") slide14
        td
            a(href="slide14-notes.pdf") slide14-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
        td assignment #3 Due Sunday, 5/14, by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #7
      
      tr
        th 05/15
        td Class Templates
        td
            a(href="slide15.pdf") slide15
        td
            a(href="slide15-notes.pdf") slide15-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
        td
      
      tr
        th 05/17
        td Introduction to the STL/Vectors
        td
            a(href="slide16.pdf") slide16
        td
            a(href="slide16-notes.pdf") slide16-notes
      
      tr
        th 05/19
        td STL/Iterators
        td
            a(href="slides/slide17.pdf") slide17
        td
            a(href="slides/slide17-notes.pdf") slide17-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
      
      tr
        td.weekBreak(colspan="6") Week #8
      
      tr
        th 05/22
        td C versus C++
        td
            a(href="slides/slide18.pdf") slide18
        td
            a(href="slides/slide18-notes.pdf") slide18-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
      
      tr
        th 05/24
        td Concept of Linked Lists
        td
            a(href="slides/slide19.pdf") slide19
        td
            a(href="slides/slide19-notes.pdf") slide19-notes
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec04.pdf")
      
      tr
        th 05/26
        td More Linked Lists/Big O Complexity
        td
            a(href="slides/slide20.pdf") slide20
        td
            a(href="slides/slide20-notes.pdf") slide20-notes
        td Review 
        td assignment #4 Due Sunday, 5/28, by 11:59pm
      
      tr
        td.weekBreak(colspan="6") Week #9
      
      tr
        th 05/29
        td Memorial Day/No Class
        td 
        td 
        td Review
      
      tr
        th 05/31
        td Exam II Review
        td 
        td 
        td Review
      
      tr
        th 06/02
        td Exam II
        td 
        td 
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec06.pdf")
      
      tr
        td.weekBreak(colspan="6") Week #10
      
      tr
        th 06/05
        td Exam II Results
        td 
        td 
        td
            a(href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-096-introduction-to-c-january-iap-2011/lecture-notes/MIT6_096IAP11_lec07.pdf")
      
      tr
        th 06/07
        td Big O Complexity, Sorting, and Project Questions
        td
            a(href="slides/slide21.pdf") slide21
        td
            a(href="slides/slide21-notes.pdf") slide21-notes
        td 
      
      tr
        th 06/09
        td Review and Candy!!!!
        td 
        td 
        td 
        td assignment #5 Due Sunday,6/11, by 11:59pm
      
    
