doctype html 

html(lang="en") 
head 
    include ../resources/pug/head.pug 
    title="CS 161 Labs" 
    link(href="clubs.css", rel="stylesheet") 
    
body 
    include ../resources/pug/navigation.pug
    +navigation("../", "clubs") div.content
    
    div.content
        h3.center Here you can find more information about OSU student clubs, as well as their websites:
            br
            a(href="http://eecs.oregonstate.edu/current-students/undergraduate/leadership-research-involvement/student-groups") http://eecs.oregonstate.edu/current-students/undergraduate/leadership-research-involvement/student-groups
	  
        div.clubsBox
            div.imgBox
                img(src="images/LUG.png")
            div.text
                h3 Linux Users Group:<br>Tuesdays 6pm KEC 1007
                p The Linux Users Group (LUG) has been a long established OSU CS group. The CS program at OSU is closely involved with Linux, all of CS servers run on linux, and a large part of our curriculum focuses on the inner workings of Linux. OSU has a department called the OSL (Open Source Lab) dedicated to working on and improving open source technology. For that reason, we have many people that are interested and passionate about Linux and open source software. LUG meets every week and generally spends the hour beginning with a talk or activity, and then spending the rest of the time hanging out. If you would like to know more about Linux, CS, computers, open source software, or you want to get Linux installed on your computer, feel free to come on by.
                table
                    tr
                        td Website:
                        td 
                            a(href="http://lug.oregonstate.edu") http://lug.oregonstate.edu
                    tr
                         td Mailing list:
                         td 
                            a(href="http://lists.oregonstate.edu/mailman/listinfo/linux") http://lists.oregonstate.edu/mailman/listinfo/linux
        div.clubsBox
            div.imgBox
                img(src="images/appclubColorized.png")
            div.text
                h3 App Development Club:<br>Wednesdays 6pm KEC 1005
                p The App Development Club has existed as a club focusing on the more popular and cutting edge technologies for developing applications. We have people that specialize in IOS and web development, as well as some people that have worked on developing Android applications. The club functions as a workshop, giving you time to work on an app and being able to get assistance from other people in the club. If you would like to learn about app development, need some help developing, or want to make some new friends, please come by the App Club. The App Club is small and needs some new members to continue to exist, so new people are especially encouraged.
                table
                    tr
                        td Website:
                        td 
                            a(href="http://lug.oregonstate.edu") http://lug.oregonstate.edu
                    tr
                         td Mailing list:
                         td 
                            a(href="")
        div.clubsBox
            div.imgBox
                img(src="images/osu_logo.jpg")
            div.text
                h3 Association of Computing Machinery:<br>Thursdays 6pm KEC 1007
                p ACM is an organization that spans the nation. This is the OSU branch of the club, and being a part of a large organization gives the club many options and a good reputation. This allows them to get guest speakers from tech companies from all over the state. In addition to the guest talks, there is frequent availability of pizza for club meetings, and training for the yearly ICPC coding competition.
                table
                    tr
                        td Website:
                        td 
                            a(href="http://groups.engr.oregonstate.edu/acm/") http://groups.engr.oregonstate.edu/acm/
                    tr
                         td Mailing list:
                         td 
                            a(href="secure.engr.oregonstate.edu/mailman/listinfo/acmstudentchapter") secure.engr.oregonstate.edu/mailman/listinfo/acmstudentchapter
                            
        div.clubsBox
            div.imgBox
                img(src="images/osu_logo.jpg")
            div.text
                h3 Association of Computing Machinery Womens Chapter:<br>Wednesdays 5:30-6:30pm KEC 1005
                p ACM is an organization that spans the nation. This is the OSU branch of the club, and being a part of a large organization gives the club many options and a good reputation. This allows them to get guest speakers from tech companies from all over the state. In addition to the guest talks, there is frequent availability of pizza for club meetings, and training for the yearly ICPC coding competition. This is available to all people, but with a focus specifically on supporting women in engineering.
                table
                    tr
                        td Website:
                        td 
                            a(href="http://lug.oregonstate.edu") http://lug.oregonstate.edu
                    tr
                         td Mailing list:
                         td 
                            a(href="")
