.navigaiton {
    width: 120px;
    justify-content: space-around;
    background: #454545;
    height: 100vh;
    padding-top: 50px;
    top: 0;
    position: fixed;
    a {
        display: block;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 13px;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        &:hover {
            background: #035079;
        }
    }
}

#osu-top-hat {
    width: 100vw;
    display: flex;
    height: 50px;
    background: #454545;
    color: white;
    font-weight: 200;
    font-family: sans-serif;
    z-index: 10;
    a {
        padding-left: 15px;
    }
    p {
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 0;
    }
}