body {
    margin: 0;
}

table {
    background: #8cb4ab;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    margin: auto;
    width: 100vw;
    max-width: 800px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td {
    background: #267e6a;
    padding: 5px;
    width: auto;
}

table tr:nth-child(1) td {
    font-size: 13pt;
    background: #195044;
}

table tr:nth-child(1) td:nth-child(5), table tr td:nth-child(1) {
    text-align: center;
}

table tr:not(:nth-child(1)) td:nth-child(n+5) {
    width: auto;
}

.taNames div {
    display: flex;
}

@media screen and (min-width: 800px) {
    .taNames div {
        display: inline-block;
        width: 33%;     
    }
}

@media screen and (max-width: 800px) {
    .taNames div {
        display: block;
        width: 100%;     
    }
}