mixin navigation(traceback, current)
    div.topBar
        h2 CS 161 - Introduction to Computer Science
        nav
            if current === "home"
                a(href=traceback+"index.html").selected home
            else
                a(href=traceback+"index.html").unselected home

            each name, path in {"index":"syllabus", "index":"calendar", "index":"assignments", "index":"labs", "index":"recitations", "index":"useful links", "index":"student clubs", "index":"TA Bios"}
                if current === path
                    a(href=traceback+path+"/"+path+".html").selected=name
                else
                    a(href=traceback+path+"/"+path+".html").unselected=name