mixin navigation(traceback, current)
    div.topBar
        h2 CS 162 - Introduction to Computer Science II
        h2 Spring 2017 - 001: MWF 10 - 10:50am, LINC 210 & 002: MWF 1 - 1:50pm, LINC 200
        nav
            if current === "home"
                a(href=traceback+"index.html").selected home
            else
                a(href=traceback+"index.html").unselected home

            each name, path in {"syllabus":"syllabus", "calendar":"calendar", "assignments":"assignments", "labs":"labs", "recitations":"recitations", "links":"useful links", "clubs":"student clubs", "TABios":"TA Bios"}
                if current === path
                    a(href=traceback+path+"/").selected=name
                else
                    a(href=traceback+path+"/").unselected=name
    div.hamburgerContainer
        div.hamburger
          span.line
          span.line
          span.line